*{
    font-size: 18px;
    font-family: Garamond,Baskerville,Caslon,serif;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; 
    box-sizing: border-box;
    x-overflow: hidden;

  }
  
  #footer{
    width: 100%;
    position: absolute;
    bottom: 50px;
    top: 1050px;
}


p{
    position: relative;
    top: 95%
}

a{
    position: relative;
    left: 90%;
    top: 30%
  
}

.nav-link{
    margin: 3px;
    position: relative;
    left: 0px;
    top: 0%;
    bottom: 0px;

}
.navbar{
    position: relative;
    bottom: 0px;
    top: 0px;
    width: 50%;
}

.bi-cart{
    position: relative;
    left: 125%;
}
.bi-person{
    position: relative;
    left: 130%;
}