*{
    font-size: 18px;
    font-family: Garamond,Baskerville,Caslon,serif;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; 
    box-sizing: border-box;
    x-overflow: hidden;

  }
  
  #footer{
    width: 100%;
    position: absolute;
    bottom: 50px;
    top: 1050px;
}

.bi-cart{
    position: relative;
    left: 1350%;
}
.bi-person{
    position: relative;
    left: 1403%;
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.d-block{
    position: relative;
    width: 50%;
    left: 90px
}


footer{
    margin-bottom: 0px;
    padding-top: 0px;
    text-decoration: none;

}

footer a{
    text-decoration: none;
    cursor: pointer;
}



.carousel-inner{
    background: linear-gradient(to left, #72A0C1, #B9D9EB);
    position: relative;
    height: 500px;
    bottom: 50px
    
   
}

.d-block{
    position: relative;
    width: 10px;
    margin-left: 335px;
    
   
}

.carousel-caption{
    position: absolute;
    top: 430px;
}

.carousel-inner{
position: relative;
left: -100px;
width: 120%;
}

.navbar-toggler-icon{
    position: relative;
}
@media screen and (max-width: 1400px){
    .d-block{
       position: relative;
       left: -185px;
    }
    .carousel-inner{
        position: relative;
        left: -100px;
        width: 150%;
    }
    
    .navbar-toggler-icon{
        position: relative;
        left: 200px;
    }
}
@media screen and (min-width:1000px){
    
}